[Unit]
Description=Homelab Bootstrap Service
After=network.target

[Service]
Type=oneshot
User=server
ExecStart=/usr/bin/sudo /home/server/homelab/scripts/main.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
